@page "/About"
<h3 class="align-center">О нас</h3>
    <h2>НАШИ УСЛУГИ</h2>
 <ul>
<li>Анонимное лечение алкоголизма</li>
<li>Очищение организма от токсинов</li>
<li>Помощь в реабилитации наркозависимых</li>
<li>Лечение токсикозависимости</li>
<li>Снятие никотиновой и пищевой зависимостей</li>
<li>Купирование влечения к игровым автоматам</li>
<li>Лечение депрессивных состояний, расстройств сна, невротических заболеваний</li>
</ul> 
<p >Каждый день мы работаем с 8:00 до 23:00 без обедов и выходных.Высококвалифицированные сотрудники с огромным опытом работы.<br> Минимальные цены и простая оплата всевозможными образами.</p><br>

@code {

}
