@page "/cash"
@using PcyhoHospital.Models
@inject WorkbazeContext DB

<PageTitle>Ценообразование</PageTitle>

<h1>Цена за оказание услуги</h1>
@foreach (var service in Service) {

    <P>@service.Name <br> @service.Price</P>

    }

@code {
       List<Service> Service = new();
    protected override async Task OnInitializedAsync()
    {
        Service =  DB.Services.ToList();
    }
}
