@page "/"
<h1>Главная страница</h1>
    <link href="heroes.css" rel="stylesheet">
    
<main>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://polytechnic-institute.ru/wp-content/uploads/2020/03/3-рисунок.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="medium">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Мы всегда готвы помочь!</h1>
        <p class="lead">Каждому человеку нужна помощь время от времени,какому то больше,какому то меньше и мы как сплоченная команда высококвалифицированных врачей готовы предоставить любую помощь для абсолютно каждого человека.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div> 

  <div class="jumbotron">
  <p class="lead"> ♂ Ознакомьтесь ♂ с новыми ценами в нашей клинике.</p>
  <hr class="my-4">
  <p>Оптом дешевле.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="cash" role="button">Узнать больше</a>
  </p>
</div>
<h2 align="center">Альбом нашей больницы</h2>
<div class="album py-5 bg-gray">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://medaboutme.ru/upload/iblock/4d9/shutterstock_381900385.jpg" />

            <div class="card-body">
              <p class="card-text">Своевременная помощь пожилым людям.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               
                </div>
           
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://visaapp.ru/wp-content/uploads/2019/01/Trudoustrojstvo-v-Singapure.jpg" />

            <div class="card-body">
              <p class="card-text">Дружный и высококвалифицированный персонал в нашей клинике.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="https://www.respublika-center.ru/upload/iblock/a01/a0149e3440b2bcc8a0efb45ab3b2b8f9.jpg" />

            <div class="card-body">
              <p class="card-text">Решение даже самых трудных проблем в жизни.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
              
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="https://hippocrat-clinic.ru/wp-content/uploads/2020/10/1579552989_17-p-foni-s-bolnitsami-45.png" />

            <div class="card-body">
              <p class="card-text">Новопостроенная больнича с вентиляцией и кондиционером.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
             
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://dobrograd-hotel.ru/upload/iblock/44f/44f274e6d2c1dccc85d8425eb867790d.jpg" />

            <div class="card-body">
              <p class="card-text">Огромный зал для групповых терапий.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="https://islamnews.ru/wp-content/uploads/2016/05/pexels-photo.jpg" />

            <div class="card-body">
              <p class="card-text">Удобная картотека:Будьте уверены ваши справки не потеряются.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               
                </div>

              </div>
            </div>
          </div>
        </div>

        
       
        
      </div>
    </div>
  </div>
</main>




@code {

}
