@page "/"
<h1>Главная страница</h1>
    <link href="heroes.css" rel="stylesheet">
    
<main>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://kartinki-cvetov.ru/images/po-cvetam/sinie/siniy_08.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="medium">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Мы всегда готвы помочь!</h1>
        <p class="lead">Каждому человеку нужна помощь время от времени,какому то больше,какому то меньше и мы как сплоченная команда высококвалифицированных врачей готовы предоставить любую помощь для абсолютно каждого человека.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div> 

  <div class="jumbotron">
  <p class="lead"> ♂ Ознакомьтесь ♂ с новыми ценами в нашей клинике.</p>
  <hr class="my-4">
  <p>Оптом дешевле.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="cash" role="button">Узнать больше</a>
  </p>
</div>
</main>




@code {

}
