@page "/Doctor"
@using PcyhoHospital.Models
@inject WorkbazeContext DB
<PageTitle>Сотрудники</PageTitle>

<h1>Действующие врачи</h1>


    <div class="album py-5 bg-gray">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           @foreach (var doctor in Doctors)
            {
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top"   src=@($"Images/Doctor{doctor.Id}.jpg") aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>

                    <div class="card-body">
                       

                        <p class="card-text">@doctor.Name </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


@code {
    List<Doctor> Doctors = new();
    protected override async Task OnInitializedAsync()
    {
        Doctors =  DB.Doctors.ToList();
    }
}

