@page "/Doctor"
@using PcyhoHospital.Models
@inject WorkbazeContext DB
<PageTitle>Сотрудники</PageTitle>

<h1>Действующие врачи</h1>

@foreach (var doctor in Doctors)
{
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@doctor.Name</h5>
        <p class="card-text">@doctor.Specialization</p>
        <a href="#" class="btn btn-primary">Перейти к информации </a>
    </div>
</div>
}

@code {
    List<Doctor> Doctors = new();
    protected override async Task OnInitializedAsync()
    {
        Doctors =  DB.Doctors.ToList();
    }
}

