body {
    background-color: lightgray
}

#white {
    background-color: #fff;
    width: 100%;
}

header {
    width: calc(101vw - 203px);
    background: white;
    height: 59px;
}
.angled-gradient {
    background: linear-gradient(70deg, #B7410E, pink);
}